In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://ekansh:yuyulodu@localhost:5432/assignment2

## 2.2 Modification to Student_Courses Table

1. Evaluating the recently concluded course is essential for planning and execution of the same course in the future. It is imperative to maintain a view which provides an average, min, and max grade for a particular course whenever there is a change (insert and update of a tuple) in student_course table. Such a view should contain the following columns and must be up to date at all times:
Note: The name of the view should be course_eval.


Name of the columns in the view:(course_eval):

course_id | session | semester | number_of_students | average_grade | max_grade | min_grade

In [ ]:
%%sql 
CREATE OR REPLACE VIEW course_eval AS
SELECT 
    course_id,
    session,
    semester,
    COUNT(*) AS number_of_students,
    AVG(grade) AS average_grade,
    MAX(grade) AS max_grade,
    MIN(grade) AS min_grade
FROM 
    student_courses
GROUP BY 
    course_id, session, semester;

2. Create a trigger which updates the student table’s tot_credits column each time an entry is made into the student_courses table. Each time an entry for a student pursuing any course is made in the student courses table, the following is expected.
 
Given the entry that is to be inserted into the student courses table, use the course_id and the courses table to get the number of credits for that course. Now that you know the credits for this course, update that particular student’s tot_credits and add the credits for this new course in the student table.

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION update_tot_credits_function()
RETURNS TRIGGER AS $$
DECLARE
    tot_cred_now INTEGER;
    cred_this_course INTEGER;
BEGIN
    tot_cred_now := (
        SELECT tot_credits
        FROM student
        WHERE student_id = NEW.student_id
    );

    cred_this_course := (
        SELECT credits
        FROM courses
        WHERE course_id = NEW.course_id
    );

    UPDATE student
    SET tot_credits = tot_cred_now + cred_this_course
    WHERE student_id = NEW.student_id;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql
CREATE TRIGGER update_tot_credits
AFTER INSERT ON student_courses
FOR EACH ROW
EXECUTE FUNCTION update_tot_credits_function();

3. Implement a trigger that ensures that a student is not enrolled in more than 5 courses simultaneously(in the same session and same semester) in the student_courses table. 
Also, check that while adding entries into student_courses table, the credit criteria for the student (maximum 60 total credits for every student) should not be exceeded. If the maximum course criteria or the maximum credit criteria are
breached, raise an ”invalid” exception; else, continue with the update.
Note: You can use the tot credits column from table student.
60 is the total credit limit for every student across all records, across all semesters and across all sessions. No student should surpass this limit.

In [ ]:
%%sql 
CREATE OR REPLACE FUNCTION check_course_limit()
RETURNS TRIGGER AS $$
DECLARE
    current_courses INTEGER;
    total_credits INTEGER;
BEGIN
    -- Check if the student is enrolled in more than 5 courses simultaneously
    SELECT COUNT(*)
    INTO current_courses
    FROM student_courses
    WHERE student_id = NEW.student_id
        AND session = NEW.session
        AND semester = NEW.semester;

    IF current_courses > 5 THEN
        RAISE EXCEPTION 'invalid';
    END IF;

    SELECT tot_credits
    INTO total_credits
    FROM student
    WHERE student_id = NEW.student_id;

    IF total_credits + (SELECT credits FROM courses WHERE course_id = NEW.course_id) > 60 THEN
        RAISE EXCEPTION 'invalid';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql CREATE TRIGGER enforce_course_limit
BEFORE INSERT ON student_courses
FOR EACH ROW
EXECUTE FUNCTION check_course_limit();

4. Assume that we are trying to insert a record into the student_courses table. 
Write a trigger which uses course_id as the foreign key and makes sure that any course of 5 credits is taken up by the student in the student’s first year only.(You can know the student’s first year since the student id begins with the year of their admission; compare this with the first four digits of the session of the course, which is usually of the form 2023-2024). If the entry is for a 5-credit course and is not in the first year of the student, Raise an ”invalid” exception; else, insert the entry into the table. Any entry with a course with less than 5 credits should be added.

In [ ]:
%%sql 
CREATE OR REPLACE FUNCTION check_course_credit()
RETURNS TRIGGER AS $$
DECLARE
    student_entry_year INTEGER;
    session_first_year INTEGER;
BEGIN
    student_entry_year := CAST(SUBSTRING(NEW.student_id FROM 1 FOR 4) AS INTEGER);

    session_first_year := CAST(SUBSTRING(NEW.session FROM 1 FOR 4) AS INTEGER);

    -- Check if the course is 5-credit course and if it's not the student's first year
    IF (SELECT credits FROM courses WHERE course_id = NEW.course_id) = 5 AND
       (student_entry_year != session_first_year) THEN
        RAISE EXCEPTION 'invalid';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql 
CREATE TRIGGER enforce_course_credit
BEFORE INSERT ON student_courses
FOR EACH ROW
EXECUTE FUNCTION check_course_credit();

5. Create a view student_semester_summary from student_courses table which contains the student_id, session, semester, sgpa, credits. This view stores the students’ details for a semester. Calculate sgpa (as done at IITD) as:
(grade points secured in courses with grade greater than or equal to 5.0/
earned credits in courses with grade greater than or equal to 5.0)
where courses and earned credits should correspond to the semester and session. grade points for a course is the product of grade secured in that course and credits of the course. You can interpret grades greater than or equal to 5 as pass grades. Ignore failed courses from sgpa calculation. The credits in the view corresponds to the credits completed (credits of courses with pass grade) in that semester. Whenever a new row is added to student courses table update the student_semester_summary view, as well as tot_credits in student table. Also, add the course only if the credit count doesn’t
exceed the limit of 26 per semester. When the grade for a course is updated in the student_courses, update the sgpa in the view. When a row is deleted from student courses table, update the credits and sgpa in the view as well as update tot credits in student table.

In [ ]:
%%sql 
CREATE OR REPLACE VIEW student_semester_summary AS
SELECT 
    sc.student_id,
    sc.session,
    sc.semester,
    SUM(CASE WHEN sc.grade>=5.0 THEN sc.grade * c.credits ELSE 0 END) / SUM(CASE WHEN sc.grade >= 5.0 THEN c.credits ELSE 0 END) AS sgpa,
    SUM(CASE WHEN grade >= 5.0 THEN credits ELSE 0 END) AS credits
FROM 
    student_courses sc
    JOIN courses c ON sc.course_id = c.course_id
GROUP BY 
    student_id, session, semester;

In [ ]:
%%sql 
CREATE OR REPLACE FUNCTION update_student_courses_insert()
RETURNS TRIGGER AS $$
    DECLARE semester_credits INTEGER;
    DECLARE course_credits INTEGER;
BEGIN
    SELECT COALESCE(SUM(credits), 0) INTO semester_credits
    FROM student_courses
    WHERE student_id = NEW.student_id AND session = NEW.session AND semester = NEW.semester;

    SELECT c.credits INTO course_credits
    FROM courses c
    WHERE c.course_id = NEW.course_id;

    IF semester_credits + NEW.credits > 26 THEN
        RAISE EXCEPTION 'invalid';
    END IF;

    REFRESH MATERIALIZED VIEW student_semester_summary;

    UPDATE student
    SET tot_credits = (
        SELECT SUM(credits) FROM student_courses WHERE student_id = NEW.student_id
    )
    WHERE student_id = NEW.student_id;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql 
CREATE TRIGGER update_student_semester_summary_trigger
AFTER INSERT OR DELETE ON student_courses
FOR EACH ROW
EXECUTE FUNCTION update_student_semester_summary();

6. Write a single trigger on insert into student_courses table. Before insertion, check if the capacity of the course is full from the course_offers table; if yes raise an “course is full” exception; if it isn’t full, perform the insertion, and after insertion, update the no. of enrollments in the course in course offers table.

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION check_course_capacity()
RETURNS TRIGGER AS $$
BEGIN
    -- Check if the course capacity is full
    IF EXISTS (
        SELECT 1
        FROM course_offers
        WHERE course_id = NEW.course_id
          AND session = NEW.session
          AND semester = NEW.semester
          AND enrollments >= capacity
    ) THEN
        RAISE EXCEPTION 'Course is full';
    END IF;

    -- Perform the insertion
    INSERT INTO student_courses VALUES (NEW.*);

    -- Update the number of enrollments in the course
    UPDATE course_offers
    SET enrollments = enrollments + 1
    WHERE course_id = NEW.course_id
      AND session = NEW.session
      AND semester = NEW.semester;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql
CREATE TRIGGER check_course_capacity_trigger
BEFORE INSERT ON student_courses
FOR EACH ROW
EXECUTE FUNCTION check_course_capacity();