In [1]:
%load_ext sql

In [2]:
%sql postgresql://ekansh:yuyulodu@localhost:5432/assignment2

## Modifications to course_offers table

1. Whenever a course is removed from the course_offers table, it should also update the student_courses table such that all the student entries for that course (in that particular session and semester) should be removed. The tot_credits in the student table for the removed students should also be updated. If the course is added, ensure that course_id is present in the courses table and professor_id is present in the professor table.

### no need to update total_credits becuase on deleting the student_courses, the total_credits will be updated automatically

In [3]:
%%sql
CREATE OR REPLACE FUNCTION delete_course_offers_trigger()
RETURNS TRIGGER AS $$
BEGIN
    DELETE FROM student_courses 
    WHERE course_id = OLD.course_id AND 
          session = OLD.session AND 
          semester = OLD.semester;
    
    RETURN OLD;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [4]:
%%sql
CREATE TRIGGER delete_course_offers_trigger
AFTER DELETE ON course_offers
FOR EACH ROW
EXECUTE FUNCTION delete_course_offers_trigger();

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [5]:
%%sql
CREATE OR REPLACE FUNCTION insert_course_offers_trigger()
RETURNS TRIGGER AS $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM courses WHERE course_id = NEW.course_id
    ) THEN
        RAISE EXCEPTION 'invalid';
    END IF;
    
    IF NOT EXISTS (
        SELECT 1 FROM professor WHERE professor_id = NEW.professor_id
    ) THEN
        RAISE EXCEPTION 'invalid';
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [6]:
%%sql
CREATE TRIGGER insert_course_offers_trigger
BEFORE INSERT ON course_offers
FOR EACH ROW
EXECUTE FUNCTION insert_course_offers_trigger();

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

2. Given an entry that is to be inserted into the course_offers table, create a trigger that makes sure that a professor does not teach more than 4 courses in a session. Also make sure that the course is being offered before the associated professor resigns. If in any case the entry is not valid show an ”invalid” message or
else insert the entry into the table.

In [7]:
%%sql 
CREATE OR REPLACE FUNCTION check_course_offers_entry()
RETURNS TRIGGER AS $$
BEGIN
    IF EXISTS (
        SELECT 1
        FROM course_offers co
        JOIN professor p ON co.professor_id = p.professor_id
        WHERE co.session = NEW.session
          AND co.professor_id = NEW.professor_id
          AND p.resign_year > CAST(SUBSTRING(NEW.session FROM 1 FOR 4) AS INTEGER)
        GROUP BY co.session, co.professor_id
        HAVING COUNT(*) >= 4
    ) THEN
        RAISE EXCEPTION 'invalid';
    END IF;

    IF EXISTS (
        SELECT 1
        FROM professor p
        WHERE p.professor_id = NEW.professor_id
          AND (p.resign_year <= CAST(SUBSTRING(NEW.session FROM 1 FOR 4) AS INTEGER) OR p.start_year > CAST(SUBSTRING(NEW.session FROM 1 FOR 4) AS INTEGER))
    ) THEN
        RAISE EXCEPTION 'invalid';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [8]:
%%sql 
CREATE TRIGGER check_course_offers_entry_trigger
BEFORE INSERT ON course_offers
FOR EACH ROW
EXECUTE FUNCTION check_course_offers_entry();

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]