In [2]:
%load_ext sql

In [3]:
%sql postgresql://ekansh:yuyulodu@localhost:5432/assignment2

## 2.1 Modification to Student Table

2.1.1 When a new student is registered, a unique student_id is assigned to each student. A student id is a 10-digit unique code, with the first four digits being entry_year, the next three characters are dept_id, and the last three digits are seq_number. When a new student is registered, your schema must validate this entry number with the below conditions:

1. The entry_year and dept_id in student_id should be a valid entry in valid_entry table.
2. The sequence number should start from 001 for each department (maintained in valid_entry table). Thus, the current sequence number is assigned when a new student is registered in a department.
3. The length of student_id should be 10.

Create a trigger with the name of validate_student_id to validate the student_id. If the entry number assigned to a student is not valid, then raise an "invalid" message; else, successfully insert the tuple in the table

In [ ]:
%%sql 
CREATE OR REPLACE FUNCTION validate_student_id_function() RETURNS TRIGGER AS $$
BEGIN
    DECLARE
        entry_year_val INTEGER;
        dept_id_val CHAR(3);
        seq_number_val INTEGER;
    BEGIN
        entry_year_val := SUBSTRING(NEW.student_id FROM 1 FOR 4)::INTEGER;
        dept_id_val := SUBSTRING(NEW.student_id FROM 5 FOR 3);
        seq_number_val := SUBSTRING(NEW.student_id FROM 8)::INTEGER;

        IF NOT EXISTS (
            SELECT 1 FROM valid_entry 
            WHERE entry_year = entry_year_val AND dept_id = dept_id_val AND seq_number = seq_number_val
        ) THEN
            RAISE EXCEPTION 'invalid';
        END IF;

        IF LENGTH(NEW.student_id) <> 10 THEN
            RAISE EXCEPTION 'invalid';
        END IF;

        RETURN NEW;
    END;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql CREATE TRIGGER validate_student_id
BEFORE INSERT ON student
FOR EACH ROW EXECUTE FUNCTION validate_student_id_function();

2. If the above student_id is a valid id, you add that student detail in the student table. But do not forget to increase the counter, i.e., seq_number in valid_entry table after each insert in the student table. Thus, create a trigger with the name, update_seq_number, which will update the seq_number in valid_entry table.

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION update_seq_number_function() RETURNS TRIGGER AS $$
BEGIN
    UPDATE valid_entry
    SET seq_number = seq_number + 1
    WHERE dept_id = NEW.dept_id AND entry_year=CAST(SUBSTRING(NEW.student_id FROM 1 FOR 4) AS INTEGER);

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql 
CREATE TRIGGER update_seq_number
AFTER INSERT ON student
FOR EACH ROW EXECUTE FUNCTION update_seq_number_function();

3. Assume that before we perform an insert operation on the student table, we need to verify if the student’s email_id is correct or not. A correct email_id will be of the form ’YYYYABC123@ABC.iitd.ac.in’, i.e., it has two parts, one part before @ and other after it. The part before @ should match the student_id for example, ’YYYYABC123’, where the first four digits being entry year, the next three characters are department ID ( dept_id ), and the last three digits are sequence number (seq_number). The second half of the email (after the ’@’) should start with the department ID of the student (ABC in this case). This should match the department ID, i.e., the three characters in the student_id column of the student as well as the department ID in the dept_id column and end with ’.iitd.ac.in’. Validate if the student’s email is correct or not. If the email is valid, continue with the insertion; otherwise, raise an "invalid" message

In [4]:
%%sql
CREATE OR REPLACE FUNCTION validate_email_function() RETURNS TRIGGER AS $$
BEGIN
    DECLARE
        student_id_part CHAR(11);
        email_parts TEXT[];
        dept_id_part CHAR(3);
        entry_year_part INTEGER;
        seq_number_part INTEGER;
        length_student_id INTEGER;
        sequence INTEGER;
    BEGIN
        email_parts := string_to_array(NEW.email_id, '@');
        IF array_length(email_parts, 1) = 2 THEN
            student_id_part := SUBSTRING(NEW.email_id FROM 1 FOR 10);
            RAISE NOTICE 'student_id_part: %', student_id_part;
            IF length(student_id_part) <> 10 THEN
                RAISE EXCEPTION 'invalid';
            END IF;
            dept_id_part := SUBSTRING(student_id_part FROM 5 FOR 3);
            entry_year_part := CAST(SUBSTRING(student_id_part FROM 1 FOR 4) AS INTEGER);
            seq_number_part := CAST(SUBSTRING(student_id_part FROM 8 FOR 3) AS INTEGER);
            IF EXISTS(
                SELECT 1 FROM valid_entry
                WHERE entry_year = entry_year_part AND dept_id = dept_id_part AND seq_number = seq_number_part
            ) THEN
            sequence := (SELECT seq_number FROM valid_entry WHERE entry_year = entry_year_part AND dept_id = dept_id_part);
            ELSE
                RAISE EXCEPTION 'invalid';
            END IF;
            IF entry_year_part = CAST(SUBSTRING(NEW.student_id FROM 1 FOR 4) AS INTEGER) AND seq_number_part = sequence AND dept_id_part = NEW.dept_id  THEN
                IF email_parts[2] LIKE (dept_id_part || '.iitd.ac.in') THEN
                    RETURN NEW; 
                ELSE
                    RAISE EXCEPTION 'invalid';
                END IF; 
            ELSE
                RAISE EXCEPTION 'invalid';
            END IF;
        ELSE
            RAISE EXCEPTION 'invalid';
        END IF;
    END;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [ ]:
%%sql 
CREATE TRIGGER validate_email
BEFORE INSERT ON student
FOR EACH ROW EXECUTE FUNCTION validate_email_function();

4.(To allow or to not allow change of branch) The Institute management also wants to study the branch change statistics. For this, your schema must include an additional table student_dept_change in your schema that maintains a record of students that have changed their department consisting of old_student id, old_dept_id, new_dept_id, and new_student_id (both old_dept_id and new_dept_id must be Foreign key referring to department table). 
Write a single trigger (name log_student_dept_change) that
calls a function upon updating the student table. The function should do as follows: 
Before the update, if the update is changing the student’s department, check if their department was updated before from
student_dept_change table; if yes, raise an exception “Department can be changed only once” (every student can only change their department once). 
If the department has not changed before and the
entry year (entry year can be extracted from student_id) is less than 2022, Raise an exception: “Entry
year must be >= 2022”. Only students who entered in 2022 or later can change their department. Further, check whether the average grade of the student is > 8.5 or not (from student_courses table)
if the average grade of the student is <= 8.5 or the student has done no courses so far raise an exception
“Low Grade”. If all conditions are met, perform the update, and after the update, insert a row into the student_dept_change_table.

Note: While assigning the new student id you have to check the seq_number in the valid_entry table to assign the valid student_id. Also, do not forget to increase the counter, i.e., seq_number in valid_entry table after updating the student_id. Also, you have to update the corresponding valid email_id in the student table

Keep in mind that when you change lets say student id or email, or any attribute, you will have to change it across all the tables where it is present. For example, if you change student_id in student table, you will have to change it in student_courses table as well.

In [ ]:
%%sql
CREATE TABLE student_dept_change (
    old_student_id CHAR(11),
    old_dept_id CHAR(3) REFERENCES department(dept_id),
    new_dept_id CHAR(3) REFERENCES department(dept_id),
    new_student_id CHAR(11)
);

In [4]:
%%sql 
CREATE OR REPLACE FUNCTION log_student_dept_change()
RETURNS TRIGGER AS $$
BEGIN
    DECLARE entry_yr INTEGER;
    DECLARE new_id CHAR(11);
    DECLARE new_seq_number INTEGER;
    DECLARE new_email_id VARCHAR(50);
    DECLARE avg_grade NUMERIC;
    DECLARE old_student_id CHAR(11);
    BEGIN
        IF TG_WHEN = 'BEFORE' THEN
            old_student_id := OLD.student_id;
            entry_yr := CAST(SUBSTRING(OLD.student_id FROM 1 FOR 4) AS INTEGER);
            IF entry_yr < 2022 THEN
                RAISE EXCEPTION 'Entry year must be >= 2022';
            END IF;

            IF EXISTS (
                SELECT 1 FROM student_dept_change 
                WHERE new_student_id = OLD.student_id
            ) THEN
                RAISE EXCEPTION 'Department can be changed only once';
            END IF;
            
            
            SELECT AVG(grade) INTO avg_grade FROM student_courses WHERE student_id = OLD.student_id;
            
            IF avg_grade IS NULL OR avg_grade <= 8.5 THEN
                RAISE EXCEPTION 'Low Grade';
            END IF;

        ELSIF TG_WHEN = 'AFTER' THEN

            new_id := SUBSTRING(NEW.student_id FROM 1 FOR 4) || NEW.dept_id || CAST((SELECT seq_number FROM valid_entry WHERE entry_year = CAST(SUBSTRING(NEW.student_id FROM 1 to 4) AS INTEGER) AND dept_id = NEW.dept_id)AS CHAR(3));

            new_email_id := new_id || '@' || NEW.dept_id || '.iitd.ac.in';
            UPDATE valid_entry
            SET seq_number = seq_number + 1
            WHERE dept_id = NEW.dept_id AND entry_year = CAST(SUBSTRING(NEW.student_id FROM 1 to 4) AS INTEGER);

            INSERT INTO student
            VALUES (NEW.first_name, NEW.last_name, new_id, NEW.address, NEW.contact_number, new_email_id,NEW.tot_credits, NEW.dept_id);

            UPDATE student_courses 
            SET student_id = NEW.student_id
            WHERE student_id = OLD.student_id;

            
            INSERT INTO student_dept_change 
            VALUES (OLD.student_id, OLD.dept_id, NEW.dept_id, new_id);
        END IF;
        
        RETURN NEW;
    END;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [ ]:
%%sql
CREATE TRIGGER before_student_update
BEFORE UPDATE ON student
FOR EACH ROW
EXECUTE FUNCTION log_student_dept_change();

In [ ]:
%%sql
CREATE TRIGGER after_student_update
AFTER UPDATE ON student
FOR EACH ROW
EXECUTE FUNCTION log_student_dept_change();