In [2]:
%load_ext sql

In [3]:
%sql postgresql://ekansh:yuyulodu@localhost:5432/assignment2

## Modifications to department table

1. Write multiple triggers using which on update on the department table, if dept_id is updated, updates all course_id of the courses belonging to that department according to the new dept_id in course_offers, courses and student_courses tables (i.e update the first three digits of the course id according to new dept id), also update it in professor and student tables. 
On delete, before deletion, check if there are no students in the department, if there are students show a “Department has students” message, else delete the department record and further delete all courses from course_offers, courses tables and professors in that department from professor table

In [5]:
%%sql
CREATE OR REPLACE FUNCTION update_department_trigger()
RETURNS TRIGGER AS $$
BEGIN
    IF OLD.dept_id <> NEW.dept_id THEN

        UPDATE courses
        SET dept_id = NEW.dept_id
        WHERE dept_id = OLD.dept_id;

        UPDATE student_courses
        SET course_id = NEW.dept_id || SUBSTRING(course_id FROM 4)
        WHERE course_id LIKE OLD.dept_id || '___';

        UPDATE course_offers
        SET course_id = NEW.dept_id || SUBSTRING(course_id FROM 4)
        WHERE course_id LIKE OLD.dept_id || '___';

        UPDATE professor
        SET dept_id = NEW.dept_id
        WHERE dept_id = OLD.dept_id;

        UPDATE student
        SET dept_id = NEW.dept_id
        WHERE dept_id = OLD.dept_id;

        DELETE FROM student_dept_change
        WHERE new_dept_id = NEW.dept_id;
        
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [6]:
%%sql
CREATE TRIGGER update_department_trigger
AFTER UPDATE ON department
FOR EACH ROW
EXECUTE FUNCTION update_department_trigger();

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [7]:
%%sql
CREATE OR REPLACE FUNCTION delete_department_trigger()
RETURNS TRIGGER AS $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM student WHERE dept_id = OLD.dept_id
    ) THEN
        RAISE EXCEPTION 'Department has students';
    ELSE
        DELETE FROM course_offers 
        WHERE course_id LIKE OLD.dept_id || '___';

        DELETE FROM courses WHERE dept_id = OLD.dept_id;

        DELETE FROM professor WHERE dept_id = OLD.dept_id;

        DELETE FROM student 
        WHERE dept_id = OLD.dept_id;

    END IF;

    RETURN OLD;
END;
$$ LANGUAGE plpgsql;

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]

In [8]:
%%sql
CREATE TRIGGER delete_department_trigger
BEFORE DELETE ON department
FOR EACH ROW
EXECUTE FUNCTION delete_department_trigger();

 * postgresql://ekansh:***@localhost:5432/assignment2
Done.

[]