In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://ekansh:yuyulodu@localhost:5432/assignment2

Student

In [ ]:
%%sql 
CREATE TABLE student (
    first_name VARCHAR(40) NOT NULL,
    last_name VARCHAR(40),
    student_id CHAR(11) PRIMARY KEY,
    address VARCHAR(100),
    contact_number CHAR(10) NOT NULL UNIQUE,
    email_id VARCHAR(50) UNIQUE,
    tot_credits INTEGER NOT NULL CHECK (tot_credits >= 0),
    dept_id CHAR(3) REFERENCES department(dept_id)
);

Courses

In [ ]:
%%sql 
CREATE TABLE courses (
    course_id CHAR(6) PRIMARY KEY,
    course_name VARCHAR(20) NOT NULL UNIQUE,
    course_desc TEXT,
    credits NUMERIC NOT NULL CHECK (credits > 0),
    dept_id CHAR(3) REFERENCES department(dept_id)
);

Student_courses

In [ ]:
%%sql 
CREATE TABLE student_courses (
    student_id CHAR(11),
    course_id CHAR(6),
    session VARCHAR(9),
    semester INTEGER NOT NULL CHECK (semester IN (1, 2)),
    grade NUMERIC NOT NULL CHECK (grade BETWEEN 0 AND 10),
    FOREIGN KEY (course_id, session, semester) REFERENCES course_offers(course_id, session, semester),
    FOREIGN KEY (student_id) REFERENCES student(student_id)
);

Course_offers

In [ ]:
%%sql 
CREATE TABLE course_offers (
    course_id CHAR(6),
    session VARCHAR(9),
    semester INTEGER NOT NULL CHECK (semester IN (1, 2)),
    professor_id VARCHAR(10),
    capacity INTEGER,
    enrollments INTEGER,
    PRIMARY KEY (course_id, session, semester),
    FOREIGN KEY (course_id) REFERENCES courses(course_id),
    FOREIGN KEY (professor_id) REFERENCES professor(professor_id)
);

Professor

In [ ]:
%%sql 
CREATE TABLE professor (
    professor_id VARCHAR(10) PRIMARY KEY,
    professor_first_name VARCHAR(40) NOT NULL,
    professor_last_name VARCHAR(40) NOT NULL,
    office_number VARCHAR(20),
    contact_number CHAR(10) NOT NULL,
    start_year INTEGER,
    resign_year INTEGER CHECK (start_year <= resign_year),
    dept_id CHAR(3) REFERENCES department(dept_id)
);

Valid_entry

In [ ]:
%%sql 
CREATE TABLE valid_entry (
    dept_id CHAR(3) REFERENCES department(dept_id),
    entry_year INTEGER NOT NULL,
    seq_number INTEGER NOT NULL
);

Department

In [ ]:
%%sql 
CREATE TABLE department (
    dept_id CHAR(3) PRIMARY KEY,
    dept_name VARCHAR(40) NOT NULL UNIQUE
);

Constraint Alter

In [ ]:
%%sql CREATE OR REPLACE FUNCTION validate_course_id_format()
RETURNS TRIGGER AS $$
BEGIN
    IF (
        NEW.course_id LIKE (SELECT CONCAT(dept_id, '___') FROM department) AND
        NEW.course_id SIMILAR TO '___\d{3}'
    ) THEN
        RETURN NEW;
    ELSE
        RAISE EXCEPTION 'invalid';
    END IF;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql CREATE TRIGGER course_id_format_trigger
BEFORE INSERT OR UPDATE ON courses
FOR EACH ROW
EXECUTE FUNCTION validate_course_id_format();